html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    padding: 0;
    background: #e5e5e5;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;

}

.textLogo {
    margin-left: 6px;
    display: flex;
    align-items: center;
    font-family: 'Magra',serif;
    font-style: normal;
    font-weight: 540;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

header{
    position: absolute;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

main {
    background-color: #FFFFFF;
    max-width: 1440px;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-ul > li {
    list-style-type: none;
    color: #FFFFFF;
    font-family: 'Red Hat Text',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.nav-ul > li > a {
    text-decoration:none;
    color: #FFFFFF;

}

.nav-ul > li > a:hover {
    text-decoration:none;
    color: black;
}

.nav-ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 0;
    gap: 10px;
}

.logoNav{
    display: flex;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
}

.logoNav > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 41px;
    left: 196px;
    top: 25px;
    color: #FFFFFF;
    background: #0D606F;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-size: 16px;
}

.header-info {
    min-height: 422px;
    color: #FFFFFF;
    width: 62%;
    margin-left: 10%;
}

.header-info > h1 {
    font-family: 'Aleo',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    margin: 0;
}

.header-info > h4 {
    font-family: 'Aleo',serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 32px 0 46px 0;
}

.search {
    width: 100%;
    max-height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search > h4 {
    font-family: 'Aleo',serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding: 32px 0 41px 41px;
    color: #F2785C;
}

.search > button, .more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    margin-right: 18px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0 0 3px rgba(13, 96, 111, 0.08), 0 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    opacity: 1;
}

#steps {
    background-color: #FFFFFF;
    max-width: 1440px;
    margin: auto;
}

#steps > div {
    display: flex;
    flex-direction: column;
    height: 424px;
}

#steps > div > h2 {
    height: 53px;
    font-family: 'Red Hat Text',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    margin: auto;
    text-align: center;
}

.steps {
    width: 92%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-family: 'Aleo', serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.stepsDoing {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2785C;
    border-radius: 16px;
}

.stepsDoing > p, .tellSteps > p {
    text-align: center;
}

.tellSteps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#date {
}

.destinations {
    background-color: #FFFFFF;
}

.destinations > h2 {
    font-family: 'Red Hat Text',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
}

.country {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 60px;
    width: 100%;
    overflow:hidden;
    justify-content: center
}

.country > p {
    display: none;
}

.spain, .japan, .usa {
    background: url("image/spain.jpg")  no-repeat;
    width: 800px;
    height: 800px;
    font-family: 'Red Hat Text',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 42px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    border-radius: 16px;
    display: flex;
    align-items: flex-end;
}

.spain > p, .japan > p, .usa > p{
    margin: 0 0 20px 10px;
}

.spain {
    width: 280px;
    border-radius: 0 16px 16px 0;
}

.japan{
    background: url("image/japan.jpg") 100% 100% no-repeat;
}

.usa {
    background: url("image/usa.jpg") 100% 100% no-repeat;
    width: 280px;
    border-radius: 16px 0 0 16px;

}

.nextCountry {
    display: flex;
    padding: 0;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.scroll { display: none}

.nextSpain {
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 10px;
}

.nextJapan {
    width: 20px;
    height: 20px;
    background: #F2785C;
    flex: none;
    order: 1;
    flex-grow: 0;
    border-radius: 10px;
}
.nextUsa {
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    flex: none;
    order: 2;
    flex-grow: 0;
    border-radius: 10px;
}

.more{
    flex-direction: row-reverse;
    padding: 0;
    font-family: 'Red Hat Text',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin: 20px auto;
    width: 15%;
}

.stories {
    background-image: url("image/global.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
}

.sectionStories {
    background-color: #FFFFFF;
}

.sectionStories > h2 {
    font-family: 'Red Hat Text',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
}

.thailand, .utah, .long {
    display: flex;
    margin-bottom: 10px;
    margin-right: 10px;
}

.utah:hover, .long:hover, .thailand:hover, .tellSteps:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.long {
    display: flex;
}

#thailand, #utah, #long, #mountains {
    margin-right: 5%;
    margin-left: 5%;
}

.thailand > img, .utah > img, .long > img {
    border-radius: 16px;
    margin-left: 5%;
}

.thailand > div > h4, .utah > div > h4, .long > div > h4 {
    font-family: 'Aleo',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
    margin: 0 0 24px 0;
}

.thailand > div > p, .utah > div > p, .long > div > p {
    font-family: 'Aleo',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    padding-bottom: 5px;
    max-width: 1440px;
    width: 90%;
}

footer > p {
    font-family: 'Red Hat Text',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding-top: 25px;
    width: 100%;
    text-align: center;
}

footer > ul {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    margin: 0;
    padding-right: 50px;
}

footer > ul > li {
    list-style-type: none;
}

@media ( max-width: 1390px) {
    footer { width: auto;
        padding-left: 40%;}
}

@media ( max-width: 550px) {
    footer > ul {padding-right: 0}
    footer {padding-left: 0}
    nav { display: none}
    .thailand > img, .utah > img, .long > img { margin-left: 0}
}

@media ( max-width: 750px) {
    .more { margin: 20px auto 50px auto;
        }
    .thailand, .utah, .long {
        display: block;
    }
    .country { gap: 2%
    }
}

.block {
    height: 1300px;
    display:inline-block;
}

.shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 41px;
    padding-top: 20px;
    margin-bottom: 5%;
}

#preview {
    background-image: url("image/header.jpg") ;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 90px;
    padding-bottom: 15%;
}

button {
    cursor: pointer ;
    border: 0;
}

button:hover {
    background: black;
    transition: all 0.5s ease;
    transform: scale(1.1);
}

li:hover {
    color: black;
    transform: scale(1.1);
    transition: all 0.5s ease;
    text-decoration: underline;
}

footer > ul > li > a > img:hover {
    opacity: 0.5;
}

.logo:hover {
    transform: scale(1.3);
    transition: all 0.5s ease;
}

.next {
    display: none;
}

#spain {
    display: none;
}

#thailandRead, #longRead, #mountainsRead, #utahRead {display: none}

@media ( max-width: 391px) {
    nav { display: none}
    .textLogo { display: none}
    .logoNav > button { display: none}
    .logoNav { background: none;
                all: unset}
    .logo {padding: 41px 0 0 16px}
    .imageLogo > img { color: #FFFFFF}
    .header-info {width: 93%;
            margin: auto;
            min-height: auto}
    .header-info > h1 { display: none}
    .header-info > h4 { display: none}
    .search {max-height: 49px;
            margin-top: 54px;}
    .search > h4 { font-size: 14px;
        line-height: 16px;
        padding: 40px 0 41px 16px;}
    .search > button {all: unset;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        gap: 10px;
        background: #0D606F;
        box-shadow: 0 0 3px rgba(13, 96, 111, 0.08), 0 2px 3px rgba(13, 96, 111, 0.16);
        border-radius: 10px;
        font-size: 11px;
        line-height: 15px;
        margin-right: 8px;}
    #preview { background-image: url("/image/headerTwo.jpg")}
    #steps > div > h2 {font-size: 14px;
        line-height: 19px;
        height: unset;
        margin: 20px 88px;
    }
    .stepsDoing { width: 70px;
            height: 70px}
    .stepsDoing > img {width: 50%;
        height: 31px}
    .tellSteps > p {
        margin: 20px 0;
    }
    .steps {
        font-size: 10px;
        line-height: 12px;
        margin: 0 auto;
    }
    #bice {width: 74px}
    #bice > p {text-align: left}
    #fly {width: 74px}
    #fly > p {text-align: right}
    #date {justify-content: unset}
    #steps > div { height: unset }
    #destinations > h2 {
        margin-top: 0;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 20px}
    .spain {all: unset;
    display: none}
    .usa {all: unset;
        display: none;
    }
    .japan { all: unset;
    display: none}
    .country {
        width: unset;
        background: url("/image/spainTwo.jpg") 100% 100% no-repeat;
        min-height: 210px;
        margin: 0 15px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #spain {
        display: block;
        font-family: 'Red Hat Text',serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;
        padding-right: 75%;
        margin-top: 8px;
        margin-left: 15px;
    }
    .next {display: flex;
        margin-top: 58px;
        width: 100%}
    .nextLeft {width: 30px;
        height: 30px;
        background: url("/image/left.svg") 100% 100% no-repeat;
        margin-left: 5px;}
    .nextRight {width: 30px;
        height: 30px;
        background: url("/image/right.svg") 100% 100% no-repeat;
        padding-left: 80%;}
    .scroll {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 19%;
        margin-bottom: 12px;
        gap: 6px;
    }
    .scroll > div {
        width: 8px;
        height: 8px;
    }
    .nextCountry {
        display: none;
    }
    .more { all: unset;
        margin: 10px auto 20px auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 6px;
        font-size: 11px;
        line-height: 15px;
        background: #0D606F;
        box-shadow: 0 0 3px rgba(13, 96, 111, 0.08), 0 2px 3px rgba(13, 96, 111, 0.16);
        border-radius: 10px;
        width: auto;
        padding: 7px 12px;
        color: #FFFFFF;
        font-family: 'Red Hat Text',serif;
        font-style: normal;
        font-weight: 500;
    }
    .more > img {
        width: 10px;
        height: 10px;
    }
    .more > p {
        margin: 0;
    }
    .sectionStories > h2 {
        margin: 0 auto 10px auto;
        font-size: 14px;
        line-height: 19px;
    }
    .thailand { all: unset;
        display: flex;
        align-items: center}
    .thailand > img {display: none}
    #thailand, #utah, #long, #mountains { margin: 0}
    .imgThailand {
        background: url("/image/thailandTwo.jpg" ) 100% 100% no-repeat;
        width: 100%;
        min-height: 130px;
        min-width: 155px;
        margin: 10px 10px 15px 15px;
        filter: drop-shadow(0px 4px 4px #0D606F);
        border-radius: 16px;
    }
    #thailand > h4 {
        font-family: 'Aleo', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: #0D606F;
        margin-bottom: 10px;
    }
    #thailand > p {
        font-family: 'Aleo',serif;
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
        margin: 0;
        padding-right: 15px;
    }
     #thailand > p {
        margin: 0; /* Убираем внешний отступ */
        -webkit-line-clamp: 8; /* Число отображаемых строк */
        display: -webkit-box; /* Включаем флексбоксы */
        -webkit-box-orient: vertical; /* Вертикальная ориентация */
        overflow: hidden; /* Обрезаем всё за пределами блока */
    }
    #thailandRead {display: flex;
        font-family: 'Aleo',serif;
        font-style: normal;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
        font-weight: bold}
    /*////////////////////////////////*/
    .utah { all: unset;
        display: flex;
        align-items: center}
    .utah > img {display: none}
    .imgUtah {
        background: url("/image/utahTwo.jpg" ) 100% 100% no-repeat;
        width: 100%;
        min-height: 130px;
        min-width: 155px;
        margin: 10px 10px 15px 15px;
        filter: drop-shadow(0px 4px 4px #0D606F);
        border-radius: 16px;
    }
    #utah > h4 {
        font-family: 'Aleo', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: #0D606F;
        margin-bottom: 10px;
    }
    #utah > p {
        font-family: 'Aleo',serif;
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
        margin: 0;
        padding-right: 15px;
    }
    #utah > p {
        margin: 0; /* Убираем внешний отступ */
        -webkit-line-clamp: 8; /* Число отображаемых строк */
        display: -webkit-box; /* Включаем флексбоксы */
        -webkit-box-orient: vertical; /* Вертикальная ориентация */
        overflow: hidden; /* Обрезаем всё за пределами блока */
    }
    #utahRead {display: flex;
        font-family: 'Aleo',serif;
        font-style: normal;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
        font-weight: bold}
    #mountainsUtah { all: unset;
        display: flex;
        align-items: center}
    #mountainsUtah > img {display: none}
    .imgMountains {
        background: url("/image/mountainsTwo.jpg" ) 100% 100% no-repeat;
        width: 100%;
        min-height: 130px;
        min-width: 155px;
        margin: 10px 10px 15px 15px;
        filter: drop-shadow(0px 4px 4px #0D606F);
        border-radius: 16px;
    }
    #mountains > h4 {
        font-family: 'Aleo', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: #0D606F;
        margin-bottom: 10px;
    }
    #mountains > p {
        font-family: 'Aleo',serif;
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
        margin: 0;
        padding-right: 15px;
    }
    #mountains > p {
        margin: 0; /* Убираем внешний отступ */
        -webkit-line-clamp: 8; /* Число отображаемых строк */
        display: -webkit-box; /* Включаем флексбоксы */
        -webkit-box-orient: vertical; /* Вертикальная ориентация */
        overflow: hidden; /* Обрезаем всё за пределами блока */
    }
    #mountainsRead {display: flex;
        font-family: 'Aleo',serif;
        font-style: normal;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
        font-weight: bold}
    .long { all: unset;
        display: flex;
        align-items: center}
    .long > img {display: none}
    .imgLong {
        background: url("/image/longTwo.jpg" ) 100% 100% no-repeat;
        width: 100%;
        min-height: 130px;
        min-width: 155px;
        margin: 10px 10px 15px 15px;
        filter: drop-shadow(0px 4px 4px #0D606F);
        border-radius: 16px;
    }
    #long > h4 {
        font-family: 'Aleo', serif;
        font-style: normal;
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        color: #0D606F;
        margin-bottom: 10px;
    }
    #long > p {
        font-family: 'Aleo',serif;
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
        margin: 0;
        padding-right: 15px;
    }
    #long > p {
        margin: 0; /* Убираем внешний отступ */
        -webkit-line-clamp: 8; /* Число отображаемых строк */
        display: -webkit-box; /* Включаем флексбоксы */
        -webkit-box-orient: vertical; /* Вертикальная ориентация */
        overflow: hidden; /* Обрезаем всё за пределами блока */
    }
    #longRead {display: flex;
        font-family: 'Aleo',serif;
        font-style: normal;
        font-size: 9px;
        line-height: 11px;
        color: #0D606F;
        font-weight: bold}
    .shadow {
        padding-top: 0;
        padding-bottom: 5%;
    }
    .stories {
        background-image: url("/image/globalTwo.jpg");
        padding-bottom: 17%;
    }
    .imgLong {margin-bottom: 10px;}
    #see {margin-top: 0;
        margin-bottom: 0}
    footer > p {
        display: none;
    }
    footer > ul {
        margin: auto;
        height: 85%;
        padding: 0 0 16px 0;
    }
    footer{padding: 0}
    .imgUtah { margin-top: 0}
    #utah {padding-bottom: 10px}
    .imgMountains { margin-top: 0}
    #mountains {padding-bottom: 10px}
    .imgLong { margin-top: 0}
    #long {padding-bottom: 10px}
    .stories {padding-bottom: 10%}
}